# main
APP_HOST_FILES=localhost
APP_PORT_FILES=7021

# webdav
WEBDAV_HOST=http://localhost
WEBDAV_PORT=80
USER_NAME_WEBDAV=admin
PASSWORD_WEBDAV=secrets

# kafka
KAFKA_HOST=localhost
KAFKA_EXTERNAL_PORT=9094
KAFKA_CLIENT_USERS=user
KAFKA_USER_PASSWORD=bitnami
KAFKA_GROUP_ID=ramil-notifications-service
KAFKA_IS_CONNECT=true